:root {
    
}

html {
    font-size: 16px;
    font-family: san-serif;
}

.controller.songs td.song:hover {
    background-color: #eecccc;
}

.controller.songs td a {
    display: block;
}

.controller.playlists .playlist-song:hover {
    cursor: pointer;
}


header .nav-link.active {
    text-decoration: underline;
}

.playlists .song-details.active {
    background-color: #eeffff;
}
