:root {
    
}

html {
    font-size: 16px;
    font-family: san-serif;
}


.controller .card,
.input-group-text,
.sortable th:first-child,
.sortable td:first-child,
.sortable th:last-child,
.sortable td:last-child
{
    border-radius: 0;
}

.controller.songs .card-body,
.controller.playlists .card-body {
    max-height: 80vh;
    min-height: 80vh;
    overflow: auto;
}

.controller.songs td.song:hover {
    background-color: #eecccc;
}

.controller.songs td a {
    display: block;
}

.controller.playlists .playlist-song:hover {
    cursor: pointer;
}


header .nav-link.active {
    text-decoration: underline;
}

.playlists .song-details.active {
    background-color: #eeffff;
}

::placeholder {
    color: #ddd;
}
